@import '../../../base';

.category-tree {
    margin-top: 10px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;

    .loading-circle {
        align-self: center;
        justify-self: center;
    }
}

.category-item {
    margin-left: 20px;
    margin-top: 4px;

    .category-chip {
        display: flex;
        align-items: center;
        border-radius: 20px;
        padding: 4px 8px;
        width: fit-content;
        border: 1px solid $color-primary-main;
        background-color: $color-primary-light;
        font-size: 14px;

        .close {
            margin-left: 8px;
        }
    }
}

.category-item:first-of-type {
    margin-left: 0;
}