
.dialog-content-wrapper {
    padding-bottom: 10px;

    .form-upload-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
    
        .loading-wrapper {
            width: 100%;
            align-self: center;
            justify-self: center;
        }
    
        .input-container {
            margin-top: 10px;
    
            .file-input-wrapper {
                display: flex;
                align-items: center;

                .file-input {
                    cursor: pointer;
                }
            }
        }
    }
    
    .current-pictures-wrapper {
        padding-bottom: 16px;

        .picture-items-wrapper {
            display: flex;
            align-items: center;
            margin-top: 10px;
        
            .picture-item {
                margin-right: 20px;
        
                .actions-wrapper {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                }

                .picture-img {
                    width: auto;
                    height: auto;
                    max-width: 150px;
                    max-height: 150px;
                }
            }
        }
    }
}
