.paper {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    margin: 8px;
}

.form {
    width: 100%;
}

.submit-wrapper {
    margin-top: 16px;
}
