.result-message-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

.error {
    background-color: #FFE0E0;
    color: #F92022;
}

.success {
    background-color: #dff0d8;
    color: #3c763d;
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
